<div class="error-container panic-error hidden">
    Something went wrong
    <div class="error-suggestion">
        Try after some time
        <span class="block">or</span>
        Contact <a href="mailto:nisarg.jhaveri@research.iiit.ac.in" class="error-mailto-link">nisarg.jhaveri@research.iiit.ac.in</a>
    </div>
</div>
