<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/common.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
            var articleId = "{{articleId}}";
        </script>
        <script src="static/js/article.js"></script>
    </head>
    <body>
        <div class="header-container">
            <div class="header">
                <h1><a href="{{baseUrl}}" class="link-home">News Access</a></h1>
                <div class="access-options">
                    <label>
                        Access article in
                        <select class="select-language inline">
                            <option value="hi">Hindi</option>
                            <option value="gu">Gujarati</option>
                            <option value="bn">Bengali</option>
                            <option value="kn">Kannada</option>
                            <option value="ml">Malayalam</option>
                            <option value="mr">Marathi</option>
                            <option value="ne">Nepali</option>
                            <option value="pa">Punjabi</option>
                            <option value="sd">Sindhi</option>
                            <option value="ta">Tamil</option>
                            <option value="te">Telugu</option>
                            <option value="ur">Urdu</option>
                        </select>
                    </label>
                    ,
                    <label>
                        Summarize using
                        <select class="select-summarizer inline">
                            <option value="veooz">Veooz</option>
                            <option value="g-flow">G-Flow</option>
                        </select>
                    </label>
                    ,
                    <label>
                        Translate using
                        <select class="select-translator inline">
                            <option value="google-translate">Google Translate</option>
                            <option value="microsoft-translate">Microsoft Cognitive Services</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="loading article-container"></div>
        <div class="hidden">
            <article id="sample-original-article">
                <div class="large-img-wrapper">
                    <img src="" alt="Image" class="show-image large-img">
                </div>

                <div class="accessible-article-list"></div>

                <div class="article-small">
                    <div class="news-heading">
                        <h2 class="show-title"></h2>
                        <a href="#" class="link-original-article show-source"></a>
                        <span class="show-published-time"></span>
                    </div>
                    <p class="show-summary"></p>
                </div>

                <div class="show-full-article"></div>
            </article>

            <section id="sample-accessible-article" class="article-small" dir="auto">
                <div class="news-heading">
                    <h2 class="show-title"></h2>
                    <a href="#" class="link-original-article show-source"></a>
                    <span class="show-published-time"></span>
                </div>
                <p class="show-summary"></p>
            </section>
        </div>
    </body>
</html>
