<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/build/common.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
        </script>
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <div class="article-list loading"></div>
        <div class="hidden">
            <article id="sample-article" class="clear-fix">
                <div class="img-wrapper float-left">
                    <img src="" alt="Image" class="show-image small-img">
                </div>
                <div class="news-heading">
                    <h2><a href="#" class="link-article show-title"></a></h2>
                    <a href="#" class="link-original-article show-source"></a>
                    <span class="show-published-time"></span>
                </div>
            </article>
        </div>
        <div class="error-container hidden">
            Something wrong happened
            <div class="error-suggestion">
                Try after some time
                <span class="block">or</span>
                Contact <a href="mailto:nisarg.jhaveri@research.iiit.ac.in" class="error-mailto-link">nisarg.jhaveri@research.iiit.ac.in</a>
            </div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96318216-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
