<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/common.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
        </script>
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <div class="article-list loading"></div>
        <div class="hidden">
            <article id="sample-article" class="clear-fix">
                <div class="img-wrapper float-left">
                    <img src="" alt="Image" class="show-image small-img">
                </div>
                <div class="news-heading">
                    <h2><a href="#" class="link-article show-title"></a></h2>
                    <a href="#" class="link-original-article show-source"></a>
                    <span class="show-published-time"></span>
                </div>
            </article>
        </div>
    </body>
</html>
