<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Workbench - News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/build/common.css">
        <link rel="stylesheet" href="static/css/build/workbench.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
            var articleSource = "{{articleSource}}";
            var articleId = "{{articleId}}";
        </script>
        <script src="static/js/workbench.js"></script>
    </head>
    <body class="flex-column">
        <div class="bench-header flex-row">
            <h1>Workbench - News Access</h1>
            <div class="flex-item"></div>
            <div class="bench-options flex-column flex-center">
                <label>
                    <select class="select-language inline">
                        <option value="hi">Hindi</option>
                        <option value="gu">Gujarati</option>
                        <option value="bn">Bengali</option>
                        <option value="kn">Kannada</option>
                        <option value="ml">Malayalam</option>
                        <option value="mr">Marathi</option>
                        <option value="ne">Nepali</option>
                        <option value="pa">Punjabi</option>
                        <option value="sd">Sindhi</option>
                        <option value="ta">Tamil</option>
                        <option value="te">Telugu</option>
                        <option value="ur">Urdu</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="bench-container flex-row flex-item loading">
            <div class="flex-item flex-2 bench-article-container">
                <div class='article-title flex-row'>
                    <h2 class="flex-item article-title-source"></h2>
                    <h2 class="flex-item article-title-target ce-text-only" contenteditable="true"></h2>
                </div>
                <div class="article-body flex-item"></div>
            </div>
            <div class="flex-item flex-column">
                <div class="flex-item flex-column summary-source-container">
                    <p class="paragraph paragraph-draggable summary summary-source flex-item"></p>
                    <div class="summary-status-container hidden">
                        <span class="summary-source-status-char"></span> characters
                    </div>
                    <div class="summary-bin-container flex-row hidden">
                        <div class="flex-item"></div>
                        <div class="summary-bin fa fa-trash-o"></div>
                        <div class="flex-item"></div>
                    </div>
                </div>
                <div class="flex-item flex-column">
                    <p class="paragraph summary summary-target flex-item"></p>
                    <div class="summary-status-container hidden">
                        <span class="summary-target-status-char"></span> characters
                    </div>
                    <input type="submit" value="Publish" class="publish-btn hidden">
                </div>
            </div>
        </div>
        {{> panic-error}}
        {{> analytics}}
    </body>
</html>
