<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Workbench - News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/common.css">
        <link rel="stylesheet" href="static/css/workbench.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
        </script>
        <script src="static/js/workbench.js"></script>
    </head>
    <body>
        <div class="bench-container">
            <div class="flex-item column1">
                <p>South Korea will temporarily shut down 10 coal-fired power plants that are over 30 years old in June to mitigate air pollution, the office of President Moon Jae-in said in a statement on Monday. The measure comes as coal-fired power plants are being criticised for contributing to deteriorating air quality in South Korea, Asia’s fourth-largest economy. Amid these concerns, new President Moon vowed during his election campaign to close the old coal power plants and review a plan to add coal power generation. Instead he advocated increasing the share of renewables to produce more clean energy. Following through on the promise to reduce coal-fired generation, the presidential office, formally called the Blue House, said that it will temporarily suspend operations of the older coal power plants next month for one month.
                <p>The Blue House also said it will shut the older coal plants again in 2018 from March to June and, furthermore, wants to close all of the old coal plants within Moon’s presidency which ends in May 2022. In July last year, South Korea’s energy ministry announced a plan to close the 10 old coal-fired power plants by 2025 in order to lower its coal power reliance and reduce greenhouse gas emissions.
                <p>Coal supplies about 40 percent of South Korea’s total power generation because it is cheaper compared to other energy sources such as liquefied natural gas. At present, South Korea runs a total of 59 coal-fired power plants. Out of the total, the 10 old power plants make up 10.6 percent of South Korea’s total installed coal power capacity, or 3.3 gigawatts, the statement said.
            </div>
            <div class="flex-item column2">
                <div class="flex-item">
                    South Korea will temporarily shut down 10 coal-fired power plants that are over 30 years old in June to mitigate air pollution, the office of President Moon Jae-in said in a statement on Monday. In July last year, South Korea's energy ministry announced a plan to close the 10 old coal-fired power plants by 2025 in order to lower its coal power reliance and reduce greenhouse gas emissions.
                </div>
            </div>
            <div class="flex-item column3">
                <div class="flex-item"></div>
                <div class="flex-item final-edit">
                    <textarea class="flex-item">દક્ષિણ કોરિયાએ હંગામી ધોરણે 10 કોલસા આધારિત વીજ પ્લાન્ટ બંધ કરી દીધા હતા, જે જૂન મહિનામાં હવાના પ્રદૂષણને ઘટાડવા માટે 30 વર્ષથી વધુ ઉંમરના છે. રાષ્ટ્રપતિ ચંદ્ર જૈ-ઇનની ઑફિસે સોમવારે એક નિવેદનમાં જણાવ્યું હતું. ગત વર્ષે જુલાઈમાં, દક્ષિણ કોરિયાના ઊર્જા મંત્રાલયે 2025 દ્વારા કોલસા આધારિત પાવર પ્લાન્ટ્સને બંધ કરવાની યોજના જાહેર કરી હતી જેથી ગ્રીનહાઉસ ગેસ ઉત્સર્જનમાં ઘટાડો થઈ શકે.</textarea>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96318216-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
