<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Workbench - News Access</title>
        <base href="{{baseUrl}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="static/css/build/common.css">
        <link rel="stylesheet" href="static/css/build/workbench.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var baseUrl = "{{baseUrl}}";
        </script>
        <script>
            sentences = [
                {
                    'source': "An expert in river conservation and a member of the Parliamentary forum on global warming, environment was a subject close to the heart of Anil Madhav Dave who was appointed Environment Minister only last year.",
                    'target': "નદી સંરક્ષણ અને ગ્લોબલ વોર્મિંગના સંસદીય ફોરમના સભ્યમાં એક નિષ્ણાત, પર્યાવરણ અનિલ માધવ દવેના હૃદયની નજીકનો વિષય હતો, જેને ગયા વર્ષે પર્યાવરણ પ્રધાન તરીકે નિમણૂક કરાયો હતો.",
                }, {
                    'source': "Dave was involved in social work right from his early days and founded NGO \“Narmada Samagra\” for conservation of the river.",
                    'target': "દવે તેના પ્રારંભિક દિવસોથી જ સામાજિક કાર્યમાં સંકળાયેલા હતા અને નદીના સંરક્ષણ માટે એનજીઓ \"નર્મદા સમાગ્રા\" ની સ્થાપના કરી હતી.",
                }, {
                    'source': "A two-time Rajya Sabha MP from Madhya Pradesh, Dave was known in the BJP circles as a man gifted with immaculate organisational skills.",
                    'target': "મધ્યપ્રદેશમાંથી બે વખતની રાજ્ય સભાના સાંસદ, દવે ભાજપના વર્તુળોમાં જાણીતા હતા જેમને શુદ્ધ સંગઠનાત્મક કૌશલ્યોથી ભેટિત કરવામાં આવે છે.",
                }, {
                    'source': "He had a long time association with the Rashtriya Swayam Sewak Sangh and shot into prominence in 2003 when he crafted the strategy leading to the defeat of Chief Minister Digvijay Singh.",
                    'target': "2003 માં રાષ્ટ્રીય સ્વયં સેવક સંઘ સાથે લાંબા સમય સુધી સંડોવણી હતી અને મુખ્ય પ્રધાન દિગ્વિજયસિંહની હારની આગેવાનીવાળી વ્યૂહરચનાની રચના કરવામાં આવી હતી.",
                }, {
                    'source': "Following this, Uma Bharti who became the Chief Minister, made him Advisor to the CM.",
                    'target': "આ પછી, મુખ્યમંત્રી બન્યા તે ઉમા ભારતીએ તેમને મુખ્યમંત્રીના સલાહકાર બનાવ્યા.",
                }, {
                    'source': "As an NCC Air Wing Cadet he took his early flying lessons and found a lifetime passion. He was a holder of a private pilot licence and had once flown a Cessna aircraft around the banks of Narmada for 18 hours.",
                    'target': "એન.સી.સી. એર વિંગ કેડેટ તરીકે તેમણે પ્રારંભિક ઉડ્ડયન પાઠ લીધો અને આજીવન જુસ્સો શોધી. તેઓ ખાનગી પાઇલોટ લાઇસન્સના ધારક હતા અને એક વખત 18 કલાક માટે નર્મદાના કાંઠાની આસપાસ સેસ્ના એરક્રાફ્ટ ઉડાન ભરી હતી.",
                }, {
                    'source': "As Rajya Sabha MP, he has served as Member of Parliamentary Forum on Global Warming and Climate Change.",
                    'target': "રાજ્ય સભાના સાંસદ તરીકે, તેમણે ગ્લોબલ વૉર્મિંગ અને ક્લાયમેટ ચેન્જ પર સંસદીય ફોરમના સભ્ય તરીકે સેવા આપી છે.",
                }, {
                    'source': "A post-graduate in Commerce from Gujarati College in Indore, Dave had keen interest in literature and had penned a number of books.",
                    'target': "ઇન્દોરમાં ગુજરાતી કોલેજમાંથી પોસ્ટ ગ્રેજ્યુએટ, ડેવ સાહિત્યમાં ગહન રસ ધરાવે છે અને તેણે અનેક પુસ્તકો લખી છે.",
                }, {
                    'source': "Dave was born to Pushpa and Madhav Dave at Barnagar, district Ujjain in Madhya Pradesh on July 6, 1956.",
                    'target': "દવેનો જન્મ 6 જુલાઇ, 1956 ના રોજ મધ્યપ્રદેશના બરનગર જિલ્લાના ઉઝજેન ખાતે પુષ્પા અને માધવ દવેમાં થયો હતો.",
                }, {
                    'source': "He inherited the legacy of the Rashtriya Swayamsewak Sangh from his grandfather Dadasaheb Dave and volunteered to be a Pracharak fter completing higher studies.",
                    'target': "તેમણે તેમના દાદા દાદાસાહેબ દવે તરફથી રાષ્ટ્રીય સ્વયંસેવક સંઘની વારસામાં વારસાગત અને ઉચ્ચ અભ્યાસ પૂર્ણ કરવા માટે પ્રચારક બનવા માટે સ્વૈચ્છિક બન્યા.",
                }, {
                    'source': "He rose in the Sangh echelons over the years and was deputed to the BJP, right before the Madhya Pradesh Assembly Elections in 2003.",
                    'target': "તેઓ વર્ષોથી સંઘના નેતાઓમાં વધારો પામ્યા હતા અને 2003 માં મધ્યપ્રદેશ વિધાનસભાની ચૂંટણી પહેલાં જ ભાજપને સોંપવામાં આવ્યા હતા.",
                }, {
                    'source': "The leader from Madhya Pradesh was key party strategist and served as chief of its election management committee for the three times during the state Assembly elections in 2003, 2008 and 2013 and Lok Sabha elections in 2004, 2009 and 2014.",
                    'target': "મધ્યપ્રદેશના નેતા મુખ્ય પક્ષના વ્યૂહરચનાકાર હતા અને 2003, 2008 અને 2013 ની વિધાનસભાની ચૂંટણીમાં 2004 અને 2009, 2004 અને 2004 ની લોકસભા ચૂંટણી દરમિયાન ત્રણ વખત ચૂંટણી પ્રચાર સમિતિના વડા બન્યા હતા.",
                }, {
                    'source': "He was known for his booth-level management and planning.",
                    'target': "તેઓ તેમના બૂથ-સ્તરની વ્યવસ્થાપન અને આયોજન માટે જાણીતા હતા.",
                }, {
                    'source': "Dave was elected to Rajya Sabha in 2009 and has been on various committees including Chairman, Select Committee on Prevention of Corruption (Amendment) Bill 2013.",
                    'target': "ડેવ 2009 માં રાજ્યસભામાં ચૂંટાયા હતા અને ભ્રષ્ટાચાર નિવારણ (સુધારો) બિલ 2013 ના ચેરમેન, પસંદગી સમિતિ સહિત વિવિધ સમિતિઓમાં રહ્યા હતા.",
                }, {
                    'source': "Dave had also organised the World Hindi Conference in Bhopal and an international conference on the occasion of Simhastha (Kumbh) Mela in Ujjain",
                    'target': "દવેએ ભોપાલમાં વર્લ્ડ હિન્દી કોન્ફરન્સ અને ઉજજૈનમાં સિંઘસ્થા (કુંભ) મેળાના પ્રસંગે આંતરરાષ્ટ્રીય પરિષદનું આયોજન કર્યું હતું."
                }
            ];
        </script>
        <script src="static/js/workbench.js"></script>
    </head>
    <body class="flex-column">
        <h1>Workbench - News Access</h1>
        <div class="bench-container flex-row flex-item">
            <div class="flex-item flex-2">
                <div class='article-title flex-row'>
                    <h2 class="flex-item">Dave -- A man passionate about river conservation</h2>
                    <h2 class="flex-item">ડેવ - નદી સંરક્ષણ વિશે પ્રખર માણસ</h2>
                </div>
                <div class="article-body flex-item">
                </div>
            </div>
            <div class="flex-item flex-column">
                <div class="flex-item flex-column summary-source-container">
                    <p class="paragraph paragraph-draggable summary-source flex-item"></p>
                    <div class="summary-bin-container flex-row hidden">
                        <div class="flex-item"></div>
                        <div class="summary-bin fa fa-trash-o"></div>
                        <div class="flex-item"></div>
                    </div>
                </div>
                <div class="flex-item flex-column">
                    <div class="flex-item">
                        <p class="paragraph">
                            <span class="sentence">નદી સંરક્ષણ અને ગ્લોબલ વોર્મિંગના સંસદીય ફોરમના સભ્યમાં એક નિષ્ણાત, પર્યાવરણ અનિલ માધવ દવેના હૃદયની નજીકનો વિષય હતો, જેને ગયા વર્ષે પર્યાવરણ પ્રધાન તરીકે નિમણૂક કરાયો હતો.</span>
                            <span class="sentence">મધ્યપ્રદેશમાંથી બે વખતની રાજ્ય સભાના સાંસદ, દવે ભાજપના વર્તુળોમાં જાણીતા હતા જેમને શુદ્ધ સંગઠનાત્મક કૌશલ્યોથી ભેટિત કરવામાં આવે છે.</span>
                        </p>
                    </div>
                    <input type="submit" value="Publish" class="publish-btn">
                </div>
            </div>
        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96318216-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
